<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理者 - レストラン予約システム - レストラン一覧</title>
</head>
<body>
    <div class="container-fluid px-4" layout:fragment="content">
        <h1 class="mt-4">レストラン一覧</h1>
        <div class="d-grid gap-2 mt-4 mb-0">
            <a class="btn btn-primary"
               th:href="@{/admin/restaurant-input}">新規登録</a>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                レストランテーブル
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>cuisineType</th>
                        <th>location</th>
                        <th>imagePath</th>
                        <th>holidays</th>
                        <th>receptionStartTime</th>
                        <th>receptionEndTime</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>cuisineType</th>
                        <th>location</th>
                        <th>imagePath</th>
                        <th>holidays</th>
                        <th>receptionStartTime</th>
                        <th>receptionEndTime</th>
                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="restaurant : ${restaurantList}">
                        <td th:text="${restaurant.id}"></td>
                        <td th:text="${restaurant.name}"></td>
                        <td th:text="${restaurant.cuisineType}"></td>
                        <td th:text="${restaurant.location}"></td>
                        <td th:text="${restaurant.imagePath}"></td>
                        <td th:text="${restaurant.holidays}"></td>
                        <td th:text="${restaurant.receptionStartTime}"></td>
                        <td th:text="${restaurant.receptionEndTime}"></td>
                        <td><a class="btn btn-primary"
                               th:href="@{/admin/restaurant-edit/{id}(id=${restaurant.id})}">編集</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
