<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>レストラン予約システム - 予約完了</title>
</head>
<body>
<div layout:fragment="content" class="content-center">
    <div class="row row-cols-1">
        <div class="col">
            <div>
                <h3 class="text-center my-4 mb-5">予約が完了しました。</h3>
                <div class="text-center">
                    <p th:text="'レストラン名：' + ${reservation.restaurant.name}"></p>
                    <p th:text="'予約日時：' + ${#temporals.format(reservation.reservedAt, 'yyyy/MM/dd HH:mm')}"></p>
                    <p th:text="'予約人数：' + ${reservation.numberOfGuests} + '人'"></p>
                    <div class="mt-5 mb-0">
                        <a class="btn btn-primary btn-fixed" th:href="@{/reservation-list}">予約一覧</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>