<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>レストラン予約システム - 予約一覧</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row row-cols-1" th:if="${!#lists.isEmpty(reservationList)}">
        <div class="col" th:each="reservation : ${reservationList}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"
                        th:text="'レストラン名：' + ${reservation.restaurant.name}"></h5>
                    <p class="card-text"
                       th:text="'予約日時：' + ${#temporals.format(reservation.reservedAt, 'yyyy/MM/dd HH:mm')}"></p>
                    <p class="card-text"
                       th:text="'予約人数：' + ${reservation.numberOfGuests} + '人'"></p>
                    <p class="card-text"
                       th:text="'予約ステータス：' + ${reservation.status.label}"></p>
                    <div class="d-grid gap-2 mt-4 mb-0"
                         th:if="${reservation.status == T(com.example.restaurantreservation.entity.ReservationStatus).PENDING
                         or reservation.status == T(com.example.restaurantreservation.entity.ReservationStatus).CONFIRMED}">
                        <a class="btn btn-primary" th:href="@{/cancel-confirm/{id}(id=${reservation.id})}">
                            予約キャンセル
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${#lists.isEmpty(reservationList)}">
        <p>現在予約はありません。</p>
    </div>
</div>
</body>
</html>