<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <title>レストラン予約システム - 予約</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6"
                 th:with="hasSeats=${seatDetailList != null and !#lists.isEmpty(seatDetailList)},
             noSeats=${seatDetailList != null and #lists.isEmpty(seatDetailList)}">
                <div>
                    <form th:object="${reservationForm}" method="post"
                          th:action="@{/reservation-input/{id}(id=${restaurant.id})}">
                        <h2 class="mt-3 text-center">予約情報入力</h2>
                        <table class="table mt-3">
                            <tr>
                                <th>レストラン名</th>
                                <td th:text="${restaurant.name}"></td>
                            </tr>
                            <tr>
                                <th>予約日時</th>
                                <td>
                                    <input th:unless="${hasSeats}"
                                           th:classappend="${#fields.hasErrors('reservedAt')} ? 'is-invalid' : ''"
                                           th:field="*{reservedAt}" type="text"
                                           class="form-control form-control-short"
                                           id="reservedAt"
                                           name="reservedAt">
                                    <span th:unless="${hasSeats}"
                                          th:text="${'予約受付時間 ' + restaurant.receptionStartTime + '～' + restaurant.receptionEndTime}"></span>
                                    <span th:if="${hasSeats}"
                                       th:text="${#temporals.format(reservationForm.reservedAt, 'yyyy/MM/dd HH:mm')}"></span>
                                </td>
                            </tr>
                            <tr>
                                <th>予約人数</th>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <input th:unless="${hasSeats}"
                                               th:classappend="${#fields.hasErrors('numberOfGuests')} ? 'is-invalid' : ''"
                                               th:field="*{numberOfGuests}" class="form-control form-control-short"
                                               id="numberOfGuests"
                                               type="number"
                                               min="1" max="100">
                                        <span th:if="${hasSeats}"
                                              th:text="${reservationForm.numberOfGuests}"></span>
                                        <span class="ms-1">人</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div class="mb-3 text-center" th:if="${noSeats}">
                            <p class="text-danger">条件に合う空席がありません。</p>
                        </div>
                        <div class="mb-3 text-center" th:if="${!#strings.isEmpty(holidayError)}">
                            <p class="text-danger" th:text="${holidayError}"></p>
                        </div>
                        <div class="mb-3 text-center" th:if="${!#strings.isEmpty(receptionError)}">
                            <p class="text-danger" th:text="${receptionError}"></p>
                        </div>
                        <div class="mt-4 mb-0 d-flex justify-content-center">
                            <input th:unless="${hasSeats}" type="submit"
                                   class="btn btn-primary btn-fixed" value="空席確認">
                        </div>
                    </form>
                </div>
                <div th:if="${hasSeats}">
                    <form method="post" th:action="@{/reservation-confirm}">
                        <div th:each="seatDetail, iterStat : ${seatDetailList}">
                            <input class="form-check-input" type="radio" th:name="seatDetailId"
                                   th:id="'seatDetailId_' + ${seatDetail.id}"
                                   th:value="${seatDetail.id}" th:checked="${iterStat.index == 0}">
                            <label class="form-check-label" th:for="'seatDetailId_' + ${seatDetail.id}">
                                [[${seatDetail.personPerSeat}]]人席
                            </label>
                        </div>
                        <div class="mt-4 mb-0 d-flex justify-content-center">
                            <input type="submit" class="btn btn-primary btn-fixed" value="席決定">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        const holidays = [[${restaurant.holidays.![holidayDayOfWeek.value]}]];

        flatpickr("#reservedAt", {
            locale: "ja",
            minDate: "today",
            enableTime: true,
            dateFormat: "Y/m/d H:i",
            minuteIncrement: 30,
            disable: [
                function(date) {
                    return holidays.includes(date.getDay());
                }
            ]
        });
    </script>
</div>
</body>
</html>