<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>レストラン予約システム - レストラン一覧</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row row-cols-1" th:if="${restaurantList != null && !#lists.isEmpty(restaurantList)}">
        <div class="col" th:each="restaurant : ${restaurantList}">
            <a th:href="@{/restaurant-detail/{id}(id=${restaurant.id})}">
                <div class="card">
                    <img th:if="${restaurant.imagePath != null}"
                         th:src="@{'/images/' + ${restaurant.imagePath}}"
                         class="card-img-top" alt="no image">
                    <div class="card-body">
                        <h5 class="card-title" th:if="${restaurant.name != null}"
                            th:text="${restaurant.name}"></h5>
                        <p class="card-text" th:if="${restaurant.cuisineType != null}"
                           th:text="${restaurant.cuisineType}"></p>
                        <p class="card-text" th:if="${restaurant.location != null}"
                           th:text="${restaurant.location}"></p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row" th:unless="${restaurantList != null && !#lists.isEmpty(restaurantList)}">
        <p>該当のレストランはありません。</p>
    </div>
</div>
</body>
</html>