<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user-layout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>レストラン予約システム - レストラン詳細</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row row-cols-1">
            <div class="col">
                <div>
                    <form method="get" th:action="@{/reservation-input/{id}(id=${restaurant.id})}">
                        <h2 th:text="${restaurant.name}"></h2>
                        <p th:text="${restaurant.cuisineType}"></p>
                        <img th:src="${!#strings.isEmpty(restaurant.imagePath)} ? @{'/images/' + ${restaurant.imagePath}} : @{'/images/noimage.jpg'}"
                             onerror="this.onerror=null;this.src='/images/noimage.jpg';"
                             class="restaurant-detail-img mb-3" alt="no image">
                        <p th:text="${restaurant.location}"></p>
                        <p th:if="${restaurant.holidays == null or #lists.isEmpty(restaurant.holidays)}" th:text="'休業日：無し'"></p>
                        <p th:unless="${restaurant.holidays == null or #lists.isEmpty(restaurant.holidays)}"
                           th:text="'休業日：' + ${#strings.listJoin(restaurant.holidays.![holidayDayOfWeek.label], '・')}"></p>
                        <div class="mt-4 mb-0">
                            <input type="submit" class="btn btn-primary btn-fixed" value="予約">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>